
.body__acc{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    margin: 0 auto;
}
.body__acc__header{
    background-color: #f9f9f9;
    box-shadow: 0 3px 5px -2px rgb(205 209 226 / 45%);
    height: 170px;
    position: relative;
}
.body__acc__fist{
    padding: 0px 20px;
}
.body__acc__title{
    padding-top: 45px;
}
.acc__title__fist{
    color: #ffb04a;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 8px;
    letter-spacing: 1px;
    left: -2px;
    height: 26px;
    display: none;
    animation: op 1.3s ease;
}
.acc__title__text{
    cursor: default;
    color: #777;
}
.acc__allmenu{
    display: inline-flex;
    position: absolute;
    bottom: 0;
}
.acc__menu__item{
    transition: all 0.5s ease;
}
.acc__menu__item a{
    font-size: 14px;
    letter-spacing: .5px;
    display: inline-block;
    color: #4e4e4e;
    text-decoration: none;
    padding: 5px 0 8px;
    opacity: 0.8;
}
.acc__menu__item.active a{
    opacity: 1;
}
.acc__title__fist.active{
    opacity: 1;
}
.acc__menu__item + .acc__menu__item{ 
    margin: 0px 20px;
}
.acc__line{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 0;
    height: 1.9px;
    border-radius: 15px;
    background-color: #575757;
    transition: all 0.2s ease;
}
.acc__tab__menu{
    display: none;
    transition: all 0.5s ease;
    animation: op 1.3s ease;
}
.active{
    display: block;
}
.acc__donhang{
    padding: 30px 20px;
}
.acc__DH__title i{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 17px;
    color: #555;
}
.none{
    display: none;
}
#changePass{
    cursor: pointer;
}
.acc__DH__title{
    display: flex;
    font-size: 24px;
    border-bottom: 1px solid #d7d7d7;
    text-align: left;
    cursor: default;
    position: relative;
    color: #555555;
}
.DH__content__title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffb350;
    font-size: 24px;
}
.DH__content__body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body__acc__content{
    background-color: #fcfcfc;
    padding-bottom: 50px;
}
.acc__DH__content{
    padding-top: 50px;
}
/* code thông tin tài khoản */
.DH__title{
    display: flex;
    padding-top: 15px;
    color: #444;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: .02em;
}
.DH__title img{
    margin-bottom: 15px;
    margin-left: 5px;
    border: 2px;
}
.DH__form{
    padding-top: 10px;
    width: 1200px;
}
.DH__form1{
    display: flex;
    flex-direction: column;
    position: relative;
}
.DH__form1 label{
    padding: 10px 0px;
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 600;
}
.DH__form1 input{
    padding: 11px 5px;
    width: 50%;
    font-size: 15px;
    color: #444;
}
.DH__text{
    position: absolute;
    top: 8;
    right: 603px;
    font-size: 13px;
    color: #5f5f5f;
}
.DH__sex{
    display: flex;
    flex-direction: row;
}
.DH__form2{
    display: flex;
    flex-direction: column;
    position: relative;
}
.sex__text{
    padding: 10px 0px;
    font-size: 14px;
    color: #333;
    font-weight: 800;
}
.pretty + .pretty{
    margin-left: 15px;
}
.DH__submit button{
    width: 200px;
    height: 40px;
    outline: none;
    background-color: #657682;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
}
.DH__checkBox .pretty input:checked~.state.p-info label:after, .pretty.p-toggle .state.p-info label:after {
    background-color: #657682!important;
}
@keyframes op{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}