*{
    margin: 0;
    padding: 0;
}
.body__cart{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}
.body__cart__title{
    /* margin: 20px 20px; */
    margin:  20px 0px;
    border-bottom: 1px solid #ececec;
}
.body__cart__title h3{
    padding-bottom: 15px;
    color: #444;
}
.cart__content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.cart__checkout{
    /* border: 1px solid #b3b3b3; */
    /* margin-left: 20px; */
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 6%), 0 0 0 1px rgb(0 0 0 / 4%);
    border-radius: 4px;
    width: 100%;
}
.cart__checkout__title{
    display: flex;
    width: 100%;
    /* padding: 0 20px; */
    border-bottom: 1px solid #ececec;
    cursor: default;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    color: #555;
    font-size: 16px;
    white-space: nowrap;
}
.cart__title__text1{
    display: inline-block;
    font-size: 15px;
    width: 60%;
    padding-left: 20px;
}
.cart__title__text2{
    padding-right: 20px;
    display: inline-block;
    font-size: 13px;
    text-align: right;
    width: 20%;
}
.cart__title__text3{
    padding-right: 20px;
    width: 20%;
    display: inline-block;
    font-size: 13px;
    text-align: right;
}
.cart__checkout__content{
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.ci__wrap{
    position: relative;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}
.cart__remove{
    position: absolute;
    bottom: 20px;
    right: 5px;
}
.cart__remove a{
    text-decoration: none;
    color: #f79d2f;
}
.ci__wrap__content{
    /* display: grid;
    grid-template-columns: 460px 1fr 1fr; */
    display: flex;
    padding-right: 20px;
}
.cart__left{
    width: 60%;
    display: flex;
    flex-direction: row;
}
.cart__left__info{
    width: 60%;
    padding-left: 15px;
    padding-top: 10px;
}
.cart__left__info p{
    font-size: 15px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}
.cart__left__info .db{
    font-size: 13px;
    color: rgb(88, 88, 88);
    font-weight: 500;
}
.cart__info__size{
    font-size: 14px;
    color: #444;
    font-weight: 600;
    padding-top: 15px;
}
.cart__quanty{
    width: 20%;
    text-align: right;
}
.cart__quanty input{
    outline: none;
    width: 50px;
    height: 27px;
    border: 1px solid #b6b5b5;
}
.cart__price{
    width: 20%;
    text-align: right;
}
.cart__order{
    margin-left: 100px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 6%), 0 0 0 1px rgb(0 0 0 / 4%);
    width: 600px;
    height: 330px;
    border-radius: 4px;
    color: #444;
}
.cart__order__title{
    font-size: 17px;
    font-weight: 700;
    color: #555;
    padding: 15px 20px;
    border-bottom: 1px solid #e2e2e2;
}
.cart__sum__price{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
.sum__price__text{
    font-size: 16px;
    font-weight: 800;
    color: #444;
}
.sum__price__dola{
    font-size: 16px;
    color: #444;
    font-weight: 800;
}
.cart__btn__order button{
    width: 200px;
    height: 40px;
    background-color: #657682;
    border: 1px solid #555;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
}
.cart__btn__order{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__bottom{
    padding: 20px 20px;
}
.cart__bottom span:first-child{
    font-size: 13px;
    font-weight: 800;
}
.cart__bottom span:last-child{
    font-size: 13px;
    color: #5c5c5c;
    padding-top: 10px;
}
.proC__allItem:first-child {
    margin-top: 50px;
}

.proC__item{
    width: 200px !important;
}
.proC__allItem {
    margin-left: 25px;
    margin-right: 25px;
    position: relative !important;
    width: 90%;
}
.proC__item__Name {
    font-size: 13px;
    color: #555;
    padding-top: 10px;
    font-weight: 700;
    line-height: 20px;
}
.proC__item__PC {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 40px;
}
.proC__item__color p {
    color: #444;
    font-weight: 900;
    font-size: 13px;
}
.proC__item__color img {
    width: 16px;
    height: 16px;
    padding-left: 3px;
    padding-top: 2px;
}
.proC__item__color {
    display: flex;
}
.proC__item__price {
    font-size: 14px;
    font-weight: 900;
    color: #444;
}
.slick-next:before, .slick-prev:before{
    color: #2e2d2d !important;
    font-size: 40px !important;
    font-weight: bold;
}
.slick-next:before{
    position: absolute !important;
    top: -35px !important;
    right: -10px !important;
    font-family: FontAwesome;
    content: '\f105';
    font-size: 65px !important;
    font-weight: inherit !important;
}
.slick-prev:before{
    position: absolute !important;
    top: -35px !important;
    right: 30px !important;
    font-family: FontAwesome;
    content: '\f104';
    font-size: 65px !important;
    font-weight: 100 !important;
}
.slick-slide {
    height: 80% !important;
}
.slick__slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__left__img{
    object-fit: cover;
    width: 114px;
}
.proC__item__img{
    width: 200px;
    object-fit: cover;
    overflow: hidden;
}

/* responsive */
/* moile < 740 */
@media only screen and (max-width: 659px){
    .cart__checkout__title{
        display: none;
    }
    .cart__content{
        flex-direction: column;
    }
    .cart__checkout{
        width: 100%;
        margin-right: 20px;
    }
    .cart__order{
        width: 100%;
        margin: 0;
        margin: 20px 0px;
    }
    .ci__wrap__content{
        display: block;
    }
    .cart__left{
        width: 100%;
    }
    .cart__quanty, .cart__price{
        width: 100%;
        text-align: center;
    }
    .cart__quanty input{
        margin-left: 34px;
    }
    .cart__price span{
        margin-left: 34px;
    }
   
    #title2{
        display: none;
    }
    /* slide */
    .proC__allItem{
        width: auto !important;
        display: none;
    }
    .slick-slide{
        width: auto;
    }

}
/* mobile > 740px*/
@media only screen and (max-width: 668px){
    .cart__content{
        flex-direction: column;
    }
    .cart__checkout{
        width: 100%;
        margin-right: 20px;
    }
    .cart__order{
        width: 100%;
        margin: 0;
        margin: 20px 0px;
    }
    
   #title2{
       display: none;
   }
}
/* tablet width >= 740px and width 1024px */
@media only screen and (max-width: 1024px) {
    .cart__content{
        flex-direction: column;
    }
    .cart__checkout{
        width: 100%;
        margin-right: 20px;
    }
    .cart__order{
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    .slick__slider{
        overflow: hidden;
    }
}
/* pc */
@media only screen and (min-width: 1025px){
    .body__cart{
        max-width: 1400px;
    }
}